*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    text-align: center;
    background-image:url(pngtree-website-technology-line-dark-background-image_2344719.jpg);
    background-size:cover;
    background-position: center;
    
}
#main{

    width: 450px;
    height: 600px;
    margin-top: 70px;
    border-radius: 15px;
    color: white;
    font-size: large;
    backdrop-filter: blur(5px) saturate(120%);
    -webkit-backdrop-filter: blur(5px) saturate(120%);
    background-color: rgba(255, 255, 255, 0.24);
    border-radius: 12px;
    border: 1px solid rgba(209, 213, 219, 0.3);   
}
h1{
    margin-top: 50px;
    font-family:  Tahoma, sans-serif;
}
.card{
    text-align: start;
    margin-left: 75px;  
    margin-top: 40px; 
    padding: 5px;
}
.card1{
    border-bottom: 2px solid rgb(248, 247, 247);
    width: 250px;
    margin-left: 80px;
}
input{
    width: 250px;
    background: transparent;
    border-style:none;
    cursor: pointer;
}
input:focus{
    outline: none;
}
#check1{
    margin-top: 40px;
    margin-right: 50px;
    cursor: pointer;
}
#box{
    width: 20px;
}
#box2{
    padding-left: 20px;
}
button{
    
    margin-top: 30px;
    width: 250px;
    height: 50px;
    margin-right: 30px;
    font-size: 18px;
    border-radius: 25px;
    cursor: pointer;
}
button:active{
    background-color:  rgba(92, 89, 89, 0.059);
}
#check2{
    text-align: center;
    margin-top: 30px;
    font-size: medium;
}
#text{
    font-size: large;
    cursor: pointer;
}

